<div class="navbar navbar-fixed-top">

    <div class="items" data-aos="zoom-out">
        <strong>{{ site.title }}</strong>
        <a href="/">Home</a>
        <a href="./about">About</a>
        <a href="./blog">Blog</a>
        <a href="./contact">Contact</a>
    </div>

    <span class="bi-list" onclick="openNav()"></span>
    <div id="Sidenav" class="sidenav">
        <a class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="./about">About</a>
        <a href="./blog">Blog</a>
        <a href="./contact">Contact</a>
    </div>
</div>

